# API_KEY is the key to access the API
API_KEY=
# PORT is the port number to run the server
PORT=
# SMTP_HOST is the host of the SMTP server (e.g. smtp.gmail.com)
SMTP_HOST=
# SMTP_USERNAME is the username of the SMTP server (e.g. my_email@gmail.com)
SMTP_USERNAME=
# SMTP_PASSWORD is the password of the SMTP server (app password if using gmail)
SMTP_PASSWORD=
# BING_API_KEY is the key to access the Bing API (via portal.azure.com)
BING_API_KEY=
# OPEN_AI_API_KEY is the key to access the OpenAI API (via platform.openai.com)
OPEN_AI_API_KEY=
# PERPLEXITY_API_KEY is the key to access the Perplexity API (via perplexity.ai)
PERPLEXITY_API_KEY=
# USE_OPEN_AI is the flag to use Bing & OpenAI or just Perplexity
USE_OPEN_AI=
# ENVIRONMENT is the environment to run the server (e.g. development, production) and is used for logging
ENVIRONMENT=

